<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "TestAll" parallel = "tests"  thread-count = "3">
   <parameter name = "path" value = "https://www.tripadvisor.co.il"/>
   <parameter name = "TestImagesPath" value = "C:\my files\TestCaseImages"/>
   <parameter name = "TestVideoPath" value = "C:\my files\TestCaseVideos"/>
   <parameter name = "inputImageSikuli" value = "C:\my files\inputImagesSikuli"/>
   <parameter name = "testExcelFilesPath" value = "C:\\my files\\testExcelFiles\\testFile1.xlsx"/>
   <parameter name = "logFilesPath" value = "C:\my files\logFiles"/>
   <test name = "chromeTest">
   	  <parameter name = "browser" value = "chrome"/>
      <classes>
         <class name = "Test.Group1_SanityTest"/>
         <!--<class name = "Test.Group11_InterfacesTest"/>-->
      </classes>
   </test>
   <test name="EdgeTest">
      <parameter name = "browser" value = "Edge"/>
   	  <classes>
   		  <class name = "Test.Group1_SanityTest"/>
   		  <!--<class name = "Test.Group11_InterfacesTest"/>-->
   	  </classes>
   </test>
   <!-- For version 101-->
   <!--<test name="FirefoxTest">
   	  <parameter name = "browser" value = "Firefox"/>
   	  <classes>
   		  <class name = "Test.Group1_SanityTest"/>
   		  <class name = "Test.Group11_InterfacesTest"/>
   	  </classes>
   </test>-->
</suite>